*.classpath
.project
.settings/org.eclipse.jdt.core.prefs
gen/com/paul/camgaldemo/R.java
bin/AndroidManifest.xml
bin/classes.dex
bin/classes/com/paul/camgaldemo/BuildConfig.class
gen/com/paul/camgaldemo/BuildConfig.java
bin/CamGalDemo.apk
bin/classes/com/paul/camgaldemo/MainActivity.class
bin/classes/com/paul/camgaldemo/R$attr.class
bin/classes/com/paul/camgaldemo/R$dimen.class
bin/classes/com/paul/camgaldemo/R$drawable.class
bin/classes/com/paul/camgaldemo/R$id.class
bin/classes/com/paul/camgaldemo/R$menu.class
bin/classes/com/paul/camgaldemo/R$layout.class
bin/classes/com/paul/camgaldemo/R$string.class
bin/classes/com/paul/camgaldemo/R$style.class
bin/classes/com/paul/camgaldemo/R.class
bin/dexedLibs/android-support-v4-6dfbbf5df6be6c27970bcaece699be0b.jar
bin/res/drawable-hdpi/ic_launcher.png
bin/res/drawable-mdpi/ic_launcher.png
bin/res/drawable-xxhdpi/ic_launcher.png
bin/jarlist.cache
bin/res/drawable-xhdpi/ic_launcher.png
bin/resources.ap_
/bin
/gen
